body{
    background-image: url('/imagens/fundo.png');
    background-position: absolute;
}


#campo{
    background: green;
    width: 75rem;
    height: 37.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 0.625rem solid #ffffff;
}

#linhaMeio{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Posicionamento */

    height: 38.7rem;
    width: 0.625rem;
    color: #ffffff;
    background-color: #ffffff;
    /* cores ffffff d0d0d0 a2a2a2 777777 4e4e4e 292929 000000 */
}

     #bolaMeioDeCampo{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 8rem;
        width: 8rem;
        border: 0.625rem solid #ffffff;
        border-radius: 50%;
    } 

    #meiuca{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 0.625rem;
        width: 0.625rem;
        border: 0.625rem solid #ffffff;
        border-radius: 50%;  
        
    }

    
    #linhaTeste{
        position: absolute; 
        top: 16.563rem; 
        left: 62.25rem;
        bottom: 6.25rem;
        width: 6.25rem;
        height: 6.25rem;
        border: 0.625rem solid #ffffff;
        transform: rotate(270deg); /* gira o círculo */
        margin-left: -40px;
        width: 100px;
        height: 50px;
        border-top-left-radius: 100px;
        border-top-right-radius: 100px;
        overflow: hidden;
    }
    
    #pequenaArea{
        width: 5.938rem;
        height: 12.5rem;
        border: solid 0.625rem #ffffff;
        border-right: none;
        margin-top: 3.125rem ;
        margin-left: 55px;
        /* background-color: #ffffff; */
    }
        
    #area{
        background-color: green;
        position: relative;
        height: 20rem;
        width: 9.375rem;
        margin-left: 86.7%;
        border: 0.625rem solid #ffffff;
        top: 8.125rem; 
        /* margin-top: 8.75rem; */
        /* z-index: 1;  */
    }

    #areaEsquerda{
        background-color: green;
        position: relative;
        height: 20rem;
        width: 9.375rem;
        margin-right: 86.7%;
        border: 0.625rem solid #ffffff;
        border-left: none;
        margin-top: -13.125rem;
    }


    #pequenaAreaEsquerda{
        width: 5.938rem;
        height: 12.5rem;
        border: solid 0.625rem #ffffff;
        border-left: none;
        margin-top: 3.125rem ;
        margin-right: 3.438rem;
        /* background-color: #ffffff; */
    }

    #linhaTesteEsquerda{
        position: absolute; 
        top: 16.563rem; 
        right: 62.25rem;
        bottom: 6.25rem;
        width: 6.25rem;
        height: 6.25rem;
        border: 0.625rem solid #ffffff;
        transform: rotate(90deg); /* gira o círculo */
        margin-right: -2.25rem;
        width: 6.25rem;
        height: 3.125rem;
        border-top-left-radius: 6.25rem;
        border-top-right-radius: 6.25rem;
        overflow: hidden;
    }

    #player{
        position: relative;
        height: 30px;
        width: 30px;
        margin-bottom: 12.5rem;
        margin-left: 12.5rem;
        background-color: black;
        /* border: 5px solid red; */
    }